In [ ]:
    name="sindhu"
print("My name",name)

My name sindhu

In [ ]:
print("Hello,world!")
x=5
y=10

Hello,world!

**Indentation**

In [ ]:
 if x>0:
  print("x is positive")
  print("this is inside the if block")

x is positive
this is inside the if block

**Numeric** **Types**

In [ ]:
age=20
height=5.5
complex_num=3+4j

**String** **Type**

In [ ]:
name="sindhu"
message="Hello World"
multine="""This is a
multiline string"""

**Boolean Type**

In [ ]:
is_active=True
is_finished=False

**Type Checking**

In [ ]:
print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

**Type conversion**

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)


print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

**Create variables for personal information**

In [ ]:
first_name="Sindhu"
last_name="Gudagur"
age=20
height=5.5
is_student=True
print("Name:",first_name,last_name)
print("Age:",age)
print("Height:",height)
print("Student:",is_student)

Name: Sindhu Gudagur
Age: 20
Height: 5.5
Student: True

**Type conversion**

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string:{age_str}")
print(f"Height as integer:{height_int}")

Age as string:20
Height as integer:5

**Operators and Basic Operations**

- Arithmetic Oparators

In [ ]:
a=10
b=4


print(f"Addition:{a}+{b}={a+b}")
print(f"Subtraction:{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f"Floor Division:{a}//{b}={a//b}")
print(f"Modulus:{a}%{b}={a%b}")
print(f"EXponentiation:{a}**{b}={a**b}")

Addition:10+4=14
Subtraction:10-4=6
Multiplication:10*4=40
Division:10/4=2.5
Floor Division:10//4=2
Modulus:10%4=2
EXponentiation:10**4=10000

**Order of oparations(PEMDAS)**

- P-Parantheses
- E-Exponents
- M-Multiplication
- D-Division
- A-Addition
- S-Subtraction

In [ ]:
result=2+3*7**4-8
print("2+3*7**4-8=",result)

2+3*7**4-8= 7197

**Relational oparators(or) Comparison**

In [ ]:
x=5
y=9


print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

**String comparison**

In [ ]:
name1="Sindhu"
name2="Abhinaya"
print(f"'{name1}'<'{name2}':{name1 < name2}")

'Sindhu'<'Abhinaya':False

**Logical oparators**

In [ ]:
p=True
q=False


print("p and q:",p and q)
print("p or q:",p or q)
print("not p:",not p)

p and q: False
p or q: True
not p: False

In [ ]:
# Practical Example
age=20
has_license=True
can_drive=age>18 and has_license
print("can drive:",can_drive)

can drive: True

In [ ]:
#Multiple comditions
score=80
is_present=True
can_pass=score>=80 and is_present
print("Pass:",can_pass)

Pass: True

In [ ]:
#persanal information
age=21
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#Loan criteria
min_age=18
min_income=30000
min_credit_score=650
is_eligible=age>=min_age or credit_score>= min_credit and annual_income>=min_income
print("Eligible for loan:",is_eligible)

Eligible for loan: True

In [ ]:
#Check qualifications
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified
print(overall_qualified)

True

**DATA STRUCTURES**

- Lists

Creating lists

In [ ]:
fruits=["apple","banana","orange","grape"]
number=[10,20,30,40]
mixed_data=[1,"Hello",3.24,True]

- List indexing(O-based)

In [ ]:
print(f"first 2 fruit:{fruits[0:2]}")
print(f"Last 2 fruits:{fruits[-2:]}")
print(f"All except first:{fruits[1:]}")

first 2 fruit:['apple', 'banana']
Last 2 fruits:['orange', 'grape']
All except first:['banana', 'orange', 'grape']

- Lists Methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawberry")
removed=fruits.pop()
print(f"Updated list:{fruits}")
print(f"Removed:{removed}")

Updated list:['apple', 'strawberry', 'banana', 'orange', 'grape']
Removed:kiwi



- List oparations

In [ ]:
print(f"Lenght:{len(fruits)}")
print(f"Contains 'apple':{'apple'in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Lenght:5
Contains 'apple':True
Index of 'banana':2

**Tuples**

- Tuples are immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

- Tuple unpacking

In [ ]:
x,y = coordinates
print(f"X:{x}, Y:{y}")

X:10, Y:20

- Tuples method

In [ ]:
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

Count of 25:1
Index of 'Engineer':2

**Dictionaries**


- Dictionary Creation

In [ ]:
person={
"name":"sindhu Gouda",
"age":20,
"profession":"software engineer",
"salary":30000,
"skills":["python","javascript","SQL"]
}

- Accessing values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}")

Name:sindhu Gouda
Age:20

- Dictionary methods

In [ ]:
print(f"Keys:{person.keys()}")
print(f"Values:{person.values()}")
print(f"Items:{person.items()}")

Keys:dict_keys(['name', 'age', 'profession', 'salary', 'skills'])
Values:dict_values(['sindhu Gouda', 20, 'software engineer', 30000, ['python', 'javascript', 'SQL']])
Items:dict_items([('name', 'sindhu Gouda'), ('age', 20), ('profession', 'software engineer'), ('salary', 30000), ('skills', ['python', 'javascript', 'SQL'])])

- Adding/updating

In [ ]:
person["location"]="India"
person["salary"]=50000

**Practical use case:Inventory management**

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }
}

**Nested access**

In [ ]:
print(f"Laptop price:${inventory['laptops']['price']}")

Laptop price:$999.99

**Sets**

- Sets containes unique elements

In [ ]:
colors={"red","green","blue","red"}
print(f"colors:{colors}")

colors:{'green', 'blue', 'red'}

- Set oparations

In [ ]:
team1_skills={"Python","javascript","SQL","React"}
team2_skills={"Python","javascript","SQL","spring"}

- Common oparation

In [ ]:
print(f"Common skills:{team1_skills.intersection(team2_skills)}")
print(f"All skills:{team1_skills.union(team2_skills)}")
print(f"team1 unique skills:{team1_skills.difference(team2_skills)}")

Common skills:{'Python', 'javascript', 'SQL'}
All skills:{'React', 'javascript', 'spring', 'SQL', 'Python'}
team1 unique skills:{'React'}

- Adding sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors:{colors}")

Updated colors:{'blue', 'orange', 'red', 'green', 'yellow', 'purple'}

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Eve","age":35},
]
sorted_people=sorted(people,key=lambda person:person["age"])
print(f"Sorted people by age:")
for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

Sorted people by age:
Bob:25
Alice:30
Eve:35